{% extends 'layout.html' %}

{% block body %}

<form action="/search"method="POST" class="form-container">
  <div class="input-field col s12 m6">
    <select class="icons" name="colors">
      <option value="" disabled selected>Choose one color</option>
      <!-- red and orange is not allowed in imgDominantColor : https://developers.google.com/resources/api-libraries/documentation/customsearch/v1/python/latest/customsearch_v1.cse.html-->
      <option value="red" data-icon="/static/red.jpg" class="left circle">Red</option>
      <option value="orange" data-icon="/static/orange.png" class="left circle">Orange</option>
      <option value="pink" data-icon="/static/pink.png" class="left circle">Pink</option>
      <option value="yellow" data-icon="/static/yellow.png" class="left circle">Yellow</option>
      <option value="green" data-icon="/static/green.png" class="left circle">Green</option>
      <option value="blue" data-icon="/static/blue.png" class="left circle">Blue</option>
      <option value="purple" data-icon="/static/purple.png" class="left circle">Purple</option>
    </select>
  </div>
  <input type="submit" class="waves-effect waves-light btn" value="Search"><br><br>
  Time of response: <strong>{{searchTime}}</strong> seconds
</form>

<!--Results-->
<div class="row cointainer_results">
  {% for res_item in res_items %}
  <img src="{{res_item.link}}" class="col s12 m6 l3" alt="">
  {% endfor %}
</div>
 
{% endblock %}